In [ ]:
#1.Program to read the details of a student & display it.
name = input('Enter the name:')         #Read inputs.
roll = input('Enter the roll number:')
mark = input('Enter the mark:')
print('Name:',name)                    #Display details.
print('Roll No:',roll)
print('Mark:',mark)

Enter the name:Akash
Enter the roll number:24
Enter the mark:89
Name: Akash
Roll No: 24
Mark: 89

In [ ]:
#2.Program to convert Celcius(C) to Fahrenheit(F) & inversely.
t = str(input('Enter the unit of Temperature:'))   #Read the Unit of temperature
if(t =='F'):
  a = float(input('Temperature in Fahrenheit:'))   #Read the Temperature in F.
  ce = (a-32)*(5/9)                                      
  print('The temperature in Celsius:', ce)         #Output in Celsius.
  
else:   
  a = float(input('Temperature in Celcius:'))      #Read the Temperature in C.                                    
  fa=(9*a/5)+32
  print('The temperature in Fahrenheit:',fa)       #Output in Fahrenheit.

Enter the unit of Temperature:F
Temperature in Fahrenheit:113
The temperature in Celsius: 45.0

In [ ]:
#3.Program to read two numbers and display its product.
b = int(input('Enter the first number:'))   #Read the numbers.
c = int(input('Enter the second number:'))
d = b*c                                     #Calculate the Product.
print('The product of the numbers:',d)      #Output.

Enter the first number:34
Enter the second number:11
The product of the numbers: 374

In [25]:
#4.Program to add a characters to string.
l ="Learn Python by Developing a Website"                #Given String.
l = l[:5]+"**"+l[6:12]+"**"+l[12:29]+"**"+l[29:37]+"**"  #Using + to add character to the string.
print(l)                                                 #Output.Updated string.

Learn**Python** by Developing a **Website**

In [ ]:
#5.Program to read the radius of a circle & display its area.
import math                              #Importing math module for an accurate output.
rad = int(input('Enter the radius :'))   #Read the radius.
area = math.pi*rad**2                    #Calculate the area using math module.
print('The Area of the circle:',area)    #Output.

Enter the radius :4
The Area of the circle: 50.26548245743669

In [ ]:
#6.Program to insert a number to any position in a list.
list1 = [1,3,2,4,7,5,9,23,54,78,21]        #List.
n = int(input('Enter the number:'))        #Read the Number to be inserted.
p = int(input('Enter the position:'))      #Read the Position.
list1.insert(p,n)                          #Using insert method to add the number to read position.
print(list1)                               #Output.Updated list.

Enter the number:22
Enter the position:1
[1, 22, 3, 2, 4, 7, 5, 9, 23, 54, 78, 21]

In [ ]:
#7.Program to Rename the key city in a dictionary.
sample_dict = {"name":"John","age":5,"salary":8000,"city":"New York"} #Given Dictionary.
i = str(input('Enter the Location name:'))                            #Read the Location to be inserted.
sample_dict["city"] = i                                               #Rename the key city.
print(sample_dict)                                                    #Output.Updated Dictionary.

Enter the Location name:Arizona
{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'Arizona'}

In [16]:
#8.Program to change a value of a key in a Dictionary.
sample_dict = {'emp1':{'name':'John','salary':7500},'emp2':{'name':'Emma','salary':8000},'emp3':{'name':'Brad','salary':500}} #Given Dictionary.
sample_dict['emp3']['salary'] = 8500                                                                                           #Update the salary.
print(sample_dict)                                                                                                            #Output.Updated Dictionary.

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
#9.Program to copy specified elements from a given Tuple to a new one.
tuple1 = (10,20,43,54,56,68) #Given Tuple.
tuple2 = tuple1[2:4]         #Copy the elements 43 & 54 to new Tuple.
print(tuple2)                #Output.

(43, 54)

In [17]:
#10.Program to count the number of occurences of a given item in a Tuple.
tuple1 = (50,10,60,70,50,83,567,50,81)
t = tuple1.count(50)
print('The number of occurences of the item 50:',t)

The number of occurences of the item 50: 3